<div class = "info">
<div class="row">
      <hr/>
</div>
<div class="row">	
	<div class="col-lg-12">
		<p class="acquis"><img src = "../images/polytech.jpg" width = "150"/></p>
	<ul>
    			<h2 ng-repeat = "etab in education.nom1">{{etab.name}}</h2>
    			<h4 ng-repeat = "etab in education.detail1">{{etab.name}}</h4>
			</ul>
    </div>
</div>
<div class="row">
      <hr/>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="acquis"><img src = "../images/shu.jpg" width = "150"/><img src = "../images/utseus.jpg" width = "150"/></p>
	<ul>
    			<h2 ng-repeat = "etab in education.nom2">{{etab.name}}</h2>
    			<h4 ng-repeat = "etab in education.detail2">{{etab.name}}</h4>
			</ul>
    </div>
</div>
<div class="row">
      <hr/>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="acquis"><img src = "../images/hsefz.png" width = "300"/></p>
	<ul>
    			<h2 ng-repeat = "etab in education.nom3">{{etab.name}}</h2>
    			<h4 ng-repeat = "etab in education.detail3">{{etab.name}}</h4>
			</ul>
    </div>
</div>
<div class="row">
      <hr/>
</div>
</div>
